<div class="container"> 
    <form [formGroup]="addCandidat" (ngSubmit)="register(file.files)">
        <h3 class="text-center text-primary">Nouveau Candidat</h3>
        <div class="form-group">
            <label for="candidatNom">Nom :</label><br>
            <input type="text" formControlName="candidatNom" class="from-control"/>
        </div>
        <div class="form-group">
            <label for="candidatPrenom">Prenom :</label><br>
            <input type="text" formControlName="candidatPrenom" class="from-control"/>
        </div>
        <div class="form-group">
            <label for="photo">Photo :</label><br>
            <input type="file"  #file formControlName="photo" class="from-control"/>
        </div>
        <div class="form-group">
            <label for="email">Email :</label><br>
            <input type="email" formControlName="email" class="from-control"/>
        </div>
        <div class="form-group">
            <label for="experiece">Experience :</label><br>
            <input type="number" formControlName="experience" class="from-control"/>
        </div>
        <div class="form-group">
            <label for="dateDeNaissance">Date de Naissance :</label><br>
            <input type="date" formControlName="dateDeNaissance" class="from-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>

</div>
