<div fxLayoutGap="1em">
    <app-login></app-login>
 
    <div fxLayout="row" fxLayoutAlign="space-between end" > 
        <div fxFlex="30"><img src="assets/images/logo.png"></div>
        <div>        
            <ul class="nav nav-pills mb-3" > 
            <li   class="nav-item"><a routerLink="/listCandidats" class="nav-link " routerLinkActive=" active "  >Liste des condidats </a></li>
            <li routerLinkActive="active" class="nav-item " ><a routerLink="#" outerLinkActive="active" class="nav-link">Liste des nouveaux condidats </a></li>
        </ul>
    </div>
        </div>



        <div class="border-top my-3"></div>
</div>


    
    
