<div  fxLayoutGap="1em" class="container-fluid" >
    <app-login></app-login>
 
    <div fxLayout="row" fxLayoutAlign="space-between end" > 
        <div fxFlex="30"><img src="assets/images/logo.png"></div>
        <div>        
            <ul class="nav nav-pills mb-3" > 
            <li   class="nav-item"><a routerLink="/candidatures" class="nav-link " routerLinkActive=" active "  >Liste des candidatures</a></li>
            <li   class="nav-item"><a routerLink="/candidats" class="nav-link " routerLinkActive=" active "  >Liste des candidats</a></li>
            <li   class="nav-item"><a routerLink="/addUser" class="nav-link " routerLinkActive=" active " *ngIf="isAdmin"  >Ajouter un utilisateur</a></li>

        </ul>
    </div>
        </div>


   
            <div class="border-top my-3"></div>
      
        
</div>



    
    
